<!DOCTYPE html>
<html ng-app="links">

<head>
	<meta charset="ISO-8859-1">
	<title>Links</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-controller="LinkController as linkCtrl">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<div class="jumbotron">
					<form name="formInsertLink" ng-submit="formInsertLink.$valid && linkCtrl.addItem()" novalidate>
						<input type="text" class="form-control" ng-model="linkCtrl.linkAtual.title" required placeholder="title" />
						<br>
						<input type="text" class="form-control" ng-model="linkCtrl.linkAtual.src" required placeholder="link" />
						<br>
						<button type="submit" class="btn btn-primary">Go</button>
						<br>
					</form>
				</div>
			</div>
		</div>

		<table class="table table-striped table-bordered" class="list-unstyled">
			<tr ng-repeat="link in linkCtrl.links track by $index">
				<td>
					<a href="{{link.src}}" target="_blanck">{{link.title}}</a>
				</td>
				<td>
					<button ng-click="linkCtrl.removeItem($index)" class="btn btn-danger">X</button>

				</td>
			</tr>
		</table>
		Importar/Exportar?
		<input type="checkbox" ng-model="linkCtrl.showImport" />
		<div ng-show="linkCtrl.showImport">
			<button ng-click="linkCtrl.exportCharge()" class="btn btn-primary">Export Charge</button>
			<textarea class="form-control" rows="14" cols="150" ng-model="linkCtrl.chargeJson"></textarea>
			<button ng-click="linkCtrl.addCharge()" class="btn btn-primary">Load Charge</button>
		</div>


		<script src="data.json"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
		<script>
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyDRxkdlptX6EgynELjIS9M9mJnNQcy5TF4",
				authDomain: "favlinks-79471.firebaseapp.com",
				databaseURL: "https://favlinks-79471.firebaseio.com",
				storageBucket: "",
			};
			firebase.initializeApp(config);
		</script>
		<script>
			(function() {
				var app = angular.module('links', []);
				app.controller('LinkController', ['$scope', function($scope) {
					// user actions
					var that = this;
					// attr

					this.showImport = false;

					this.linkAtual = {
						title: "",
						src: ""
					};

					this.chargeJson = '[{"title":"mantis","src":"http://www2.csi.com.br/mantis"},{"title":"Linx","src":"http://www.linxretail.com.br/area-do-cliente"},{"title":"office 365","src":"https://outlook.office.com/owa/?realm=linx.com.br&exsvurl=1&ll-cc=1046&modurl=0"},{"title":"tutorial java fx","src":"http://code.makery.ch/library/javafx-8-tutorial/pt/part1/"}]';

					that.fetchItems = function() {
						firebase.database().ref('/links').once('value').then(function(snapshot) {
							that.links = snapshot.val() || {};
							console.log("links", that.links)
						});
						//$scope.$apply()
					}

					that.fetchItems()

					that.addItem = function() {
						that.storeLinks();
						that.linkAtual = {};
						that.fetchItems();
					};

					that.removeItem = function(index) {
						if (index > -1) {
							that.links.splice(index, 1);
						}
						that.storeLinks();
					};

					that.addCharge = function() {
						try {
							var charge = eval("(" + that.chargeJson + ")");

							for (var i = 0; i < charge.length; i++) {
								console.log(charge[i].title);
								that.links = charge;

							}
							that.storeLinks();

						}
						catch (err) {
							alert(err.message);
						}
					};

					that.storeLinks = function() {
						firebase.database().ref('links').push(that.linkAtual);
					};

					that.exportCharge = function() {
						that.chargeJson = JSON.stringify(that.links);
					};

				}]);
			})();
		</script>
</body>

</html>